
<!DOCTYPE html>
<html lang="en">
<head>
<title>Raspi Remote</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="main_page">
<p><a href="/b_on" type="button" class="btn btn-info btn-lg">B ON</a>
<a href="/b_off" type="button" class="btn btn-danger btn-lg">B OFF</a></p>
<p><a href="/c_on" type="button" class="btn btn-info btn-lg">C ON</a>
<a href="/c_off" type="button" class="btn btn-danger btn-lg">C OFF</a></p>
</div>
</body>
</html>

